#top {
  background-color: purple;
}
#top h1{
  color: white;
  font-family: Comic Sans MS, cursive;
}
#top h2{
  font-family: Comic Sans MS, cursive;
  color: white;
}
#top a{
  text-decoration: none;
  width: 120px;
}
#links{
  height: 300px;
  width: 110px;
}
#links h2{
  font-family: Comic Sans MS, cursive;
  color: white;
  background-color: purple;
  width: 110px;
}
#links a{
  width: 110px;
}
#intro h1{
color: purple;
font-family: Comic Sans MS, cursive;
}
#intro p{
  color: purple;
  font-family: Trebuchet MS, sans-serif;
}
