#top {
background-color: Purple;
Height:45px;
}
#top h1 {
color: white;
font-family: Comic Sans MS, Cursive;
}
#top a {
Text-decoration: none;
}
#top a h1 {
Background-color: purple;
Color: white;
#batface {
  height: 20px;
  width:20px;
}
#intro h1 {
  font-family: Comic Sans MS, cursive;
  color: purple;
}
#intro {
  color: purple;
  font-family: Trebuchet MS, Sans-serif;
}
#about h1{
  font-family: Comic Sans MS, cursive;
}
#about p{
  color: purple;
  font-family: Trebuchet MS, sans-serif;
}
#sched h1{
font-family: Comic Sans MS, cursive;
color: purple;
}
#sched p{
  color: purple;
  font-family: TRebuchet MS, sans-serif;
}
#sched img{
} 
